<div class="container">
 <div style="text-align: center">
  <div>
    <%= link_to "Create a new ride !", rides_path, method: :post, class: "btn btn-primary"%>
  </div>
 </div>
 <div>
   <h3>list of rides</h3>
   <div class="row">
    <% @rides.each do |ride| %>
      <div class="col-12" style="margin-top: 10px;">
        <%= ride.id %>
        <%= ride.ref %>
        <%= ride.state %>
        <%= link_to "start", rides_start_path(id: ride.id), method: :patch, class: "btn btn-warning"%>
        <%= link_to "cancel", rides_cancel_path(id: ride.id), method: :patch, class: "btn btn-danger"%>
      </div>
    <% end %>
   </div>
 </div>
</div>
